{% extends 'person_info.html' %}
{% load static %}
{% block title %}
    <title>{{ user.username }}修改密码</title>
{% endblock %}
{% block Person_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mycms/css/useradmin_change_password.css' %}">
        {% endblock %}
{% block info-main %}
<div class="change-pw-box">
    <div class="info-main-title">个人信息</div>
    <form method="post" class='change_pw_form'>
        {% csrf_token %}
        {{form.as_p}}
        <p style="color: red;">{{ errors.username.0 }}</p>
        <p style="color: red;">{{ error }}</p>
        <p id="PW_ERROR_INFO" style="display:none">{{PW_ERROR_INFO}}</p>
        <input type="submit" value="更改" class="submit">
    </form>
</div>
{% endblock %}